<!DOCTYPE html>
<html>
<head>
	
  <title>{{ tilespec }}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-hash@0.2.1/leaflet-hash.js"></script>

  <script src="https://unpkg.com/leaflet-bookmarks@0.2.5/dist/Leaflet.Bookmarks.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet-bookmarks@0.2.5/dist/leaflet.bookmarks.css">

  
	<style>
		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>body { padding: 0; margin: 0; } html, body, #map { height: 100vh; width: 100vw; }</style>

</head>
<body>

<div id="map"></div>

<script>
  var chair = [47.46439, -121.45903];
  var canada = [51.2143, -117.4697];

  var map = L.map('map').setView({{view or "chair"}}, 16);

  var hash = new L.Hash(map);
  var bcontrol = new L.Control.Bookmarks().addTo(map);

  L.tileLayer('/composite/{{ tilespec }}/tile?z={z}&x={x}&y={y}', {
    attribution: 'Map data &copy; <a href="http://caltopo.com">Caltopo</a> | <a href="/composite/{{ tilespec }}/tilejson" download="tilesource({{ tilespec }}).json">tilejson</a> | /composite/{{ tilespec }}/tile?z={z}&x={x}&y={y}',
    
		minZoom: 3,
		maxZoom: 17,
	}).addTo(map);
</script>



</body>
</html>
